.App {
  text-align: center;
  font-family:sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2fa46e;
  min-height: 10vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(5px + 2vmin);
  color: rgba(255, 255, 255, 0.925);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product_img{
  width: 100%;
  height: 200px;
  object-fit:contain;
}

/* .product_img:hover{
  transform: scale(1.2);
  transition: 3s;
} */

/* Remove default shadow and add transition */
.custom-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border: none; /* Optional: cleaner look */
}

/* Apply shadow and slight lift on hover */
.custom-card:hover {
  transform: translateY(-3px); /* Lifts the card slightly */
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important; /* Bootstrap-style large shadow */
}